{% extends 'root/base.html' %}

{% block content %}


<div class="container">

  <div class="row">
    <div class="text-center movie-list-panel" style='position:relative'>
      <h2 style='display:inline-block'><abbr title="안녕하세요!">박성환</abbr>이 본 영화 목록 2015-2016</h2>

        <form action="" method='POST' class='order-by'>
          {% csrf_token %}
          <select name="order-criteria" id="" class="order-criteria">
            <option value="watched_date">최신 관람 순</option>
            <option value="my_score">높은 평점 순</option>
          <select>
          <button class="btn btn-default btn-sm" type="submit">Go!</button>
        </form>

    </div>
  </div>

  {% for movie in movies %}
  <div class="col-md-2 col-sm-6">
    <div class="thumbnail">
      <a href=""><img src="{{ movie.get_img_thumbnail }}" alt="" width="100%" style='height:150px'>
      </a>
      <h6 class='label-title'>{{movie.title|truncatechars:'16'}}</h4>
    {% comment %}

      <p>{{movie.director}}</p>
      <p>{{movie.my_score}}</p>
    {% endcomment %}

    </div>
  </div>

  {% empty %}
  <p>No movies available</p>

  {% endfor %}
</div>

{% endblock content %}
