option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: sunghwan_app/sunghwan_app/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: sunghwan_app.settings
    PYTHONPATH: /opt/python/current/app/sunghwan_app:$PYTHONPATH
    LANG: "ko_KR.utf8"
    LC_ALL: "ko_KR.UTF-8"
    LC_LANG: "ko_KR.UTF-8"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "sunghwan_app/static"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python sunghwan_app/manage.py migrate --noinput" 

